.page {
  .pageContent {
    border: 1px solid #dbdbdb;
    header {
      border-bottom: 1px solid #dbdbdb;
    }
  }

  .pagination {
    li {
      margin-bottom: 0;
    }
  }

  tbody td,
  thead th {
    vertical-align: middle;
  }
  a {
    text-decoration: none;
  }
}
