// Reset css
$white-color: #fff;
$header-background-color: #fff;
$body-background-color: #f8f9ff;
$sidebar-background-color: #081a51;
$active-link-color: #51cbff;
$primary-color: #017efa;
$box-shadow-body: 0 3px 10px rgb(0 0 0 / 0.2);

:root {
  --colorPrimary: #017efa;
  --colorPrimaryDark: #0070e0;
  --colorPrimaryDarker: #081a51;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:global(.u-textPrimary) {
  color: $primary-color;
}

:global(.u-borderBottom) {
  border-color: #dbdbdb;
}

:global(.u-backgroundPrimary) {
  background-color: $primary-color;
}
