// Reset css
$header-background-color: #fff;
$body-background-color: #c3c3c3;
$sidebar-background-color: #081a51;
$active-link-color: #51cbff;
$primary-color: #017efa;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body a {
  text-decoration: none;
  color: #000;
}

body a:hover {
  text-decoration: none;
}

body ul {
  list-style: none;
}
